body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

#info {
    font-size: 18px;
    margin: 10px;
}

#gameArea {
    width: 400px;
    height: 300px;
    border: 2px solid #333;
    margin: 20px auto;
    position: relative;
    background-color: white;
}

#box {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    cursor: pointer;
    display: none;
}
